<!-- https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=sign-in-form-with-circular-social-buttons -->
<div class='container'>

    <div class='row d-flex justify-content-between align-items-center' style='height: 100%;'>
        <div class='col-12'>
            <div class="signin-form">
                <form [formGroup]='signUpForm'>
                    <h2>Sign in</h2>
                    <p class="hint-text">Sign in with your social media account</p>
                    <div class="social-btn text-center">
                        <a  (click)='signInWithFacebook()' class="btn btn-primary btn-lg" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a (click)='signInWithGoogle()' class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
                    </div>
                    <div class="or-seperator"><b>or</b></div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" formControlName="email" placeholder="email" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" formControlName="password" placeholder="Password" required="required">
                    </div>  
                    <div class="form-group">
                        <button (click)='signInWithEmailAndPassword()' class="btn btn-success btn-lg btn-block signup-btn">Sign in</button>
                    </div>
                    <div class="text-center small"><a href="#">Forgot Your password?</a></div>
                </form>
                <div class="text-center small">Don't have an account? <a [routerLink]="['/signup']">Sign up</a></div>
            </div>
        </div>
    </div>
   
</div>
