
<div id='banner-container'>
    <div class='container'>
        <div class='row align-items-center' style='height: 100%;'>
            <div class='col-12 d-flex justify-content-end'>
                <div class='d-flex flex-row-reverse align-items-center logo-nameAndDesc-container'>

                    <div id='logo-container'>
                        <img src='/assets/ng-logo.png'>
                    </div>

                    <div id='nameAndDescription-container' class='d-flex align-items-center flex-column'>
                        <p id='name'>أنجولار بالعــربي</p>
                        <p id='description'>الجديد دائماً في مجتمع الانجولار</p>
                    </div>

                </div>     
            </div>
        </div> 
    </div>
</div>
