<div id='header-container'>
    <div class='container' style='height: 100%;'>

        <div class='row justify-content-between align-items-center' style='height: 100%;'>

            <div id='nav-container'>
                    <span><a href='#'> سجل </a></span>
                    <span><a href='#'>تسجيل دخول </a></span>
            </div>    
            
            <div id='logo-container'>
                <img src='/assets/ng-logo.png'>
            </div>

        </div>

    </div>
</div>

