
<div id='post-container' dir='rtl'>
    <div id='img-container'>
        <img src="/assets/blog-pic.jpg">
    </div>

    <div id='title-container' class='d-flex justify-content-end align-items-right' >
        <p dir='rtl' class='text-right'>
النسخة 9 من انجولار قد وصلت الان _ مشروع ايفي قد وصل
        </p>
    </div>

    <div id='mini-content'>
        <p dir='rtl' class='text-right'>
           السلام عليكم ورحمة الله وبركاته ما هي اخباركم واخبار اهاليكم وصلو علي النبي صلي الله عليه وسلم
        </p>
    </div>

</div>
